cluster:
  name: {{elasticsearch_cluster_name}}
path:
  data: {{elasticsearch_data_dir}}
  logs: {{elasticsearch_log_dir}}
network:
  host: {{elasticsearch_host}}
http:
  port: {{elasticsearch_port}}
